{
  "root": true,
  "extends": [
    "airbnb",
    "prettier",
    "prettier/babel",
    "prettier/react",
    "prettier/unicorn",
    "adjunct"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ]
}
